<h3>Change Event</h3>

<select (change)="getValue($event)">
    <ng-container *ngFor="let cate of categories">
        <option value="{{cate.id}}">{{cate.name}}</option>
    </ng-container>
</select>

<p>Bạn vừa chọn là : {{name}}</p>

<p>Id danh mục : {{category.id}}</p>
<p>Name danh mục : {{category.name}}</p>

<hr>

<!-- <div [ngSwitch]="userName">
    <div *ngSwitchCase="'admin'">
        <app-learing-module></app-learing-module>
    </div>

    <div *ngSwitchCase="'user'">
        <app-demo1></app-demo1>
    </div>

    <div *ngSwitchDefault="">
        please enter your account.
    </div>
</div> -->

<!-- <p [appBold]>123</p>

<p [appBold]="'#98ec57'">123</p> -->

<p>Biến = {{num}}</p>

<p>{{a}}</p>

<hr>