<style>
   
    .test{
        width: 100px;
        height: 100px;
        ;
    }
</style>

abc

<h1>{{id}}</h1>

<table border="{{border}}" style="background-color:{{backgroundColor}}">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Date of Birth</th>
    </tr>

    <tr>
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.dob | date : 'short'}}</td>
    </tr>
</table>
<!-- style="background-color: linear-gradient(to right, rgba(#FC21BE,#D029E6,#A721FC),rgba(#C6FF0B,#D029E6,#53FC21))" -->
<table border="{{border}}" style="background-color: aqua">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
        </tr>
    </thead>

    <tbody>
        <!-- <ng-container *ngFor="const student of students">
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.gender?"Male":"Female"}}</td>
                <td>{{student.dob}}</td>
            </tr>
        </ng-container> -->
        <ng-container *ngFor="let student of students">
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.gender?"Male":"Female"}}</td>
                <td>{{student.dob | date: 'short'}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>

<p>test thử chỗ này 1</p>

<div>
    <div style="width: 100px; height: auto;border: 1px solid red; box-shadow: 5px 5px red; margin-bottom: 20px; overflow: hidden">  
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Nostrum quae doloribus reiciendis et sed! Voluptate praesentium deserunt dicta accusantium, 
        possimus porro hic voluptatibus iure fuga obcaecati quam officia vitae magnam.  
    </div>

    <div class="test" style="background-color: {{background.mau1}}">

    </div>

    <app-test></app-test>
</div>

<h2 class="abc" style="color: yellow">Phạm Phúc Lợi</h2>