<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Evaluate</td>
        <td>Colour</td>
        <td>Price</td>
    </tr>
    
    <ng-container *ngFor="let fr of fruit; let i = index">
        <tr>
            <td>{{i + 1}}</td>
            <td>{{fr.giatri | uppercase}}</td>
            <td [ngClass]="{ 'delicours': fr.evaluate==true }">{{fr.evaluate?"Delicours":"So terible" | test | uppercase }}</td>
            <td>
                <div ngClass="color" style="background-color:{{fr.colour}}"></div>
            </td>
            <td>{{fr.price | currency : 'USD' : 'symbol': '1.0'}}</td>
        </tr>
    </ng-container>
</table>