<input type="checkbox" [(ngModel)]="showBtn">

<p *ngIf="showBtn; then test1 else test2">

</p>

<input type="text" [(ngModel)]="old">

<div [ngSwitch]="old">
    <div *ngSwitchCase="1">123</div>
    <div *ngSwitchCase="2">2</div>
    <div *ngSwitchCase="3">3</div>
    <div *ngSwitchCase="4">4</div>
    <div *ngSwitchCase="5">5</div>
    <div *ngSwitchCase="6">6</div>
    <div *ngSwitchCase="7">7</div>
    <div *ngSwitchCase="8">8</div>
    <div *ngSwitchCase="9">9</div>
    <div *ngSwitchCase="10">10</div>
</div>

<ng-template #tp1>
    Dat diem cao
</ng-template>

<ng-template #tp2>
    Dat diem thap
</ng-template>

<ng-template #tp3>
    Khong phai diem
</ng-template>

<ng-template #test1>
    123
</ng-template>

<ng-template #test2>
    456
</ng-template>

<ul *ngFor="let fr of fruit; let i = index">
     <li>{{ i + 1 }}. {{fr.giatri}}</li>
</ul>